body{
	background-image: url("stripes.jpg");
    margin-top: 20px;
    margin-bottom: 100px;
    color: "red";

}
table,td{
	width: 45%;
	padding: 10px;
	background-color: "blue";
	border-collapse: collapse;
	border-radius: 20px;
    border-color: "lightblue";
	margin-right: auto;
    margin-left: auto;
}

img{
	border-radius: 20px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}